<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>autumn-forest</string>
		<key>Description</key>
		<string>Under the mist that swirls thicker than hairspray in a beauty pageant prep-room lies sand that shifts under the pressure of my boot. I can&apos;t see it, only feel. Out there, only meters away is the ocean, alive with constant motion and millions of sea-dwellers. Beyond this wall of white I can smell and hear it. The waves are neither the gentle kind that roll up the beach like a overflowing bath tub, nor the crashing kind that turn murky with golden swirling crystals.</string>
		<key>ThumnailUrl</key>
		<string>https://api.thumbalizr.com/?url=http%3A%2F%2Ffreebigpictures.com%2Fwp-content%2Fuploads%2F2009%2F09%2Ffall-leaves.jpg&amp;api_key=&amp;width=640&amp;quality=80&amp;encoding=jpg</string>
		<key>OriginalUrl</key>
		<string>http://freebigpictures.com/wp-content/uploads/2009/09/fall-leaves.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>veronica-chamaedrys</string>
		<key>Description</key>
		<string>Under the mist that swirls thicker than hairspray in a beauty pageant prep-room lies sand that shifts under the pressure of my boot. I can&apos;t see it, only feel. Out there, only meters away is the ocean, alive with constant motion and millions of sea-dwellers. Beyond this wall of white I can smell and hear it. The waves are neither the gentle kind that roll up the beach like a overflowing bath tub, nor the crashing kind that turn murky with golden swirling crystals.</string>
		<key>ThumnailUrl</key>
		<string>https://api.thumbalizr.com/?url=http%3A%2F%2Ffreebigpictures.com%2Fwp-content%2Fuploads%2F2009%2F09%2Fautumn-walk.jpg&amp;api_key=&amp;width=640&amp;quality=80&amp;encoding=jpg</string>
		<key>OriginalUrl</key>
		<string>http://freebigpictures.com/wp-content/uploads/2009/09/autumn-walk.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>autumn-forest</string>
		<key>Description</key>
		<string>On the city streets I am a walking wallet, a consumer, a citizen. There are rules of conduct any which way you go. I must cross the street at the lights on command, I must wait in line-ups in the stores and be courteous. But here in nature I am just another organism, another animal, albeit one with fancy clothes and a cell phone in my pocket. There&apos;s something liberating in that. If I want to I can shout my lungs out, there is not a soul to cast a disapproving glance or whisper doubts as to my sanity. </string>
		<key>ThumnailUrl</key>
		<string>https://api.thumbalizr.com/?url=http%3A%2F%2Ffreebigpictures.com%2Fwp-content%2Fuploads%2F2009%2F09%2Ffall-yellow-trees.jpg&amp;api_key=&amp;width=640&amp;quality=80&amp;encoding=jpg</string>
		<key>OriginalUrl</key>
		<string>http://freebigpictures.com/wp-content/uploads/2009/09/fall-yellow-trees.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>autumn-forest</string>
		<key>Description</key>
		<string>Under the mist that swirls thicker than hairspray in a beauty pageant prep-room lies sand that shifts under the pressure of my boot. I can&apos;t see it, only feel. Out there, only meters away is the ocean, alive with constant motion and millions of sea-dwellers. Beyond this wall of white I can smell and hear it. The waves are neither the gentle kind that roll up the beach like a overflowing bath tub, nor the crashing kind that turn murky with golden swirling crystals.</string>
		<key>ThumnailUrl</key>
		<string>https://api.thumbalizr.com/?url=http%3A%2F%2Ffreebigpictures.com%2Fwp-content%2Fuploads%2F2009%2F09%2Ffall-season.jpg&amp;api_key=&amp;width=640&amp;quality=80&amp;encoding=jpg</string>
		<key>OriginalUrl</key>
		<string>http://freebigpictures.com/wp-content/uploads/2009/09/fall-season.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>veronica-chamaedrys</string>
		<key>Description</key>
		<string>Under the mist that swirls thicker than hairspray in a beauty pageant prep-room lies sand that shifts under the pressure of my boot. I can&apos;t see it, only feel. Out there, only meters away is the ocean, alive with constant motion and millions of sea-dwellers. Beyond this wall of white I can smell and hear it. The waves are neither the gentle kind that roll up the beach like a overflowing bath tub, nor the crashing kind that turn murky with golden swirling crystals.</string>
		<key>ThumnailUrl</key>
		<string>https://api.thumbalizr.com/?url=http%3A%2F%2Ffreebigpictures.com%2Fwp-content%2Fuploads%2F2009%2F09%2Fyellow-leaves.jpg&amp;api_key=&amp;width=640&amp;quality=80&amp;encoding=jpg</string>
		<key>OriginalUrl</key>
		<string>http://freebigpictures.com/wp-content/uploads/2009/09/yellow-leaves.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>veronica-chamaedrys</string>
		<key>Description</key>
		<string>Under the mist that swirls thicker than hairspray in a beauty pageant prep-room lies sand that shifts under the pressure of my boot. I can&apos;t see it, only feel. Out there, only meters away is the ocean, alive with constant motion and millions of sea-dwellers. Beyond this wall of white I can smell and hear it. The waves are neither the gentle kind that roll up the beach like a overflowing bath tub, nor the crashing kind that turn murky with golden swirling crystals.</string>
		<key>ThumnailUrl</key>
		<string>https://api.thumbalizr.com/?url=http%3A%2F%2Ffreebigpictures.com%2Fwp-content%2Fuploads%2Fautumn-park.jpg&amp;api_key=&amp;width=640&amp;quality=80&amp;encoding=jpg</string>
		<key>OriginalUrl</key>
		<string>http://freebigpictures.com/wp-content/uploads/autumn-park.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>veronica-chamaedrys</string>
		<key>Description</key>
		<string>Under the mist that swirls thicker than hairspray in a beauty pageant prep-room lies sand that shifts under the pressure of my boot. I can&apos;t see it, only feel. Out there, only meters away is the ocean, alive with constant motion and millions of sea-dwellers. Beyond this wall of white I can smell and hear it. The waves are neither the gentle kind that roll up the beach like a overflowing bath tub, nor the crashing kind that turn murky with golden swirling crystals.</string>
		<key>ThumnailUrl</key>
		<string>https://api.thumbalizr.com/?url=http%3A%2F%2Ffreebigpictures.com%2Fwp-content%2Fuploads%2F2009%2F09%2Fhawthorn-fruits.jpg&amp;api_key=&amp;width=640&amp;quality=80&amp;encoding=jpg</string>
		<key>OriginalUrl</key>
		<string>http://freebigpictures.com/wp-content/uploads/2009/09/hawthorn-fruits.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>rainbow-over-forest</string>
		<key>Description</key>
		<string>Here the nature is more gay than anything on the moors. Back home the beaten and dishevelled greens of the grass mingles with the brighter hue of the mosses and the dullness of the earth. The trees lie lower to the ground than those in the dense woodlands further off. </string>
		<key>ThumnailUrl</key>
		<string>https://api.thumbalizr.com/?url=http%3A%2F%2Ffreebigpictures.com%2Fwp-content%2Fuploads%2F2009%2F09%2Fmorning-mist.jpg&amp;api_key=&amp;width=640&amp;quality=80&amp;encoding=jpg</string>
		<key>OriginalUrl</key>
		<string>http://freebigpictures.com/wp-content/uploads/2009/09/morning-mist.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>yellow-wildflower</string>
		<key>Description</key>
		<string>Upon the hill I stand as still as the trees, not totally frozen, for just as their budded twigs move so does my long hair. My eyes are closed.</string>
		<key>ThumnailUrl</key>
		<string>https://api.thumbalizr.com/?url=http%3A%2F%2Ffreebigpictures.com%2Fwp-content%2Fuploads%2F2009%2F09%2Fgolden-leaves.jpg&amp;api_key=&amp;width=640&amp;quality=80&amp;encoding=jpg</string>
		<key>OriginalUrl</key>
		<string>http://freebigpictures.com/wp-content/uploads/2009/09/golden-leaves.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>veronica-chamaedrys</string>
		<key>Description</key>
		<string>Under the mist that swirls thicker than hairspray in a beauty pageant prep-room lies sand that shifts under the pressure of my boot. I can&apos;t see it, only feel. Out there, only meters away is the ocean, alive with constant motion and millions of sea-dwellers. Beyond this wall of white I can smell and hear it. The waves are neither the gentle kind that roll up the beach like a overflowing bath tub, nor the crashing kind that turn murky with golden swirling crystals.</string>
		<key>ThumnailUrl</key>
		<string>https://api.thumbalizr.com/?url=http%3A%2F%2Ffreebigpictures.com%2Fwp-content%2Fuploads%2F2009%2F09%2Fyellow-foliage.jpg&amp;api_key=&amp;width=640&amp;quality=80&amp;encoding=jpg</string>
		<key>OriginalUrl</key>
		<string>http://freebigpictures.com/wp-content/uploads/2009/09/yellow-foliage.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>veronica-chamaedrys</string>
		<key>Description</key>
		<string>Under the mist that swirls thicker than hairspray in a beauty pageant prep-room lies sand that shifts under the pressure of my boot. I can&apos;t see it, only feel. Out there, only meters away is the ocean, alive with constant motion and millions of sea-dwellers. Beyond this wall of white I can smell and hear it. The waves are neither the gentle kind that roll up the beach like a overflowing bath tub, nor the crashing kind that turn murky with golden swirling crystals.</string>
		<key>ThumnailUrl</key>
		<string>https://api.thumbalizr.com/?url=http%3A%2F%2Ffreebigpictures.com%2Fwp-content%2Fuploads%2F2009%2F09%2Fyellow-beech.jpg&amp;api_key=&amp;width=640&amp;quality=80&amp;encoding=jpg</string>
		<key>OriginalUrl</key>
		<string>http://freebigpictures.com/wp-content/uploads/2009/09/yellow-beech.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>veronica-chamaedrys</string>
		<key>Description</key>
		<string>Under the mist that swirls thicker than hairspray in a beauty pageant prep-room lies sand that shifts under the pressure of my boot. I can&apos;t see it, only feel. Out there, only meters away is the ocean, alive with constant motion and millions of sea-dwellers. Beyond this wall of white I can smell and hear it. The waves are neither the gentle kind that roll up the beach like a overflowing bath tub, nor the crashing kind that turn murky with golden swirling crystals.</string>
		<key>ThumnailUrl</key>
		<string>https://api.thumbalizr.com/?url=http%3A%2F%2Ffreebigpictures.com%2Fwp-content%2Fuploads%2Fcopper-forest.jpg&amp;api_key=&amp;width=640&amp;quality=80&amp;encoding=jpg</string>
		<key>OriginalUrl</key>
		<string>http://freebigpictures.com/wp-content/uploads/copper-forest.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>veronica-chamaedrys</string>
		<key>Description</key>
		<string>Under the mist that swirls thicker than hairspray in a beauty pageant prep-room lies sand that shifts under the pressure of my boot. I can&apos;t see it, only feel. Out there, only meters away is the ocean, alive with constant motion and millions of sea-dwellers. Beyond this wall of white I can smell and hear it. The waves are neither the gentle kind that roll up the beach like a overflowing bath tub, nor the crashing kind that turn murky with golden swirling crystals.</string>
		<key>ThumnailUrl</key>
		<string>https://api.thumbalizr.com/?url=http%3A%2F%2Ffreebigpictures.com%2Fwp-content%2Fuploads%2Fgolden-blue.jpg&amp;api_key=&amp;width=640&amp;quality=80&amp;encoding=jpg</string>
		<key>OriginalUrl</key>
		<string>http://freebigpictures.com/wp-content/uploads/golden-blue.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>veronica-chamaedrys</string>
		<key>Description</key>
		<string>Under the mist that swirls thicker than hairspray in a beauty pageant prep-room lies sand that shifts under the pressure of my boot. I can&apos;t see it, only feel. Out there, only meters away is the ocean, alive with constant motion and millions of sea-dwellers. Beyond this wall of white I can smell and hear it. The waves are neither the gentle kind that roll up the beach like a overflowing bath tub, nor the crashing kind that turn murky with golden swirling crystals.</string>
		<key>ThumnailUrl</key>
		<string>https://api.thumbalizr.com/?url=http%3A%2F%2Ffreebigpictures.com%2Fwp-content%2Fuploads%2Foctober-forest.jpg&amp;api_key=&amp;width=640&amp;quality=80&amp;encoding=jpg</string>
		<key>OriginalUrl</key>
		<string>http://freebigpictures.com/wp-content/uploads/october-forest.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>veronica-chamaedrys</string>
		<key>Description</key>
		<string>Under the mist that swirls thicker than hairspray in a beauty pageant prep-room lies sand that shifts under the pressure of my boot. I can&apos;t see it, only feel. Out there, only meters away is the ocean, alive with constant motion and millions of sea-dwellers. Beyond this wall of white I can smell and hear it. The waves are neither the gentle kind that roll up the beach like a overflowing bath tub, nor the crashing kind that turn murky with golden swirling crystals.</string>
		<key>ThumnailUrl</key>
		<string>https://api.thumbalizr.com/?url=http%3A%2F%2Ffreebigpictures.com%2Fwp-content%2Fuploads%2Flast-leaves.jpg&amp;api_key=&amp;width=640&amp;quality=80&amp;encoding=jpg</string>
		<key>OriginalUrl</key>
		<string>http://freebigpictures.com/wp-content/uploads/last-leaves.jpg</string>
	</dict>
</array>
</plist>
